// General variables ----
$default-fonts  : "Helvetica", Arial, sans-serif;
$base-font-name : 'Roboto';
// ----------------------

// Fonts path -----------
$font-path      : '../fonts/';


$base-font-data : (
  // order of variables
  // 'font-folder', 'font-file-name', 'font-local-1', 'font-local-2', 'font-weight', 'font-style'
        1: ('roboto/', 'roboto-light', 'Roboto',  'Roboto Light', 300, normal),
        2: ('roboto/', 'roboto-regular', 'Roboto',  'Roboto Regular', 400, normal),
        3: ('roboto/', 'roboto-medium', 'Roboto',  'Roboto Medium', 500, normal),
        4: ('roboto/', 'roboto-bold', 'Roboto',  'Roboto Bold', 700, normal),
);

// Fonts family variables
$base-font-size   : 62.5%; // 10px
$base-font-family : $base-font-name, $default-fonts !default;

// Typography -----------
@function line_height($lh, $fs) {  // lh - line-height, fs - font-size
  @return $lh / $fs; // value float or integer
}

$size-body : (
  null  : (16px, line_height(20, 16)),         // 1rem, 1.25
  medium : (16px, line_height(22, 16))          // 1rem, 1.375
);

$size-h1 : (
  null   : (32px, line_height(40, 32), 20px),  // 2rem, 1.25
  medium : (40px, line_height(45, 40), 22px),  // 2.5rem, 1.125
  xlarge : (48px, line_height(50.4 ,48), 22px) // 3rem, 1.05
);

$size-h2 : (
  null   : (26px, line_height(30, 26), 20px),  // 1.625rem, 1.1538
  medium : (32px, line_height(40, 32), 22px),  // 2rem, 1.25
  xlarge : 36px                                // 2.25 rem
);

$size-h3 : (
  null   : (22px, line_height(25, 22), 20px),  // 1.375rem, 1.1363
  medium : (24px, line_height(30, 24), 22px),  // 1.5rem, 1.25
  xlarge : 28px                                // 1.75rem
);

$size-h4 : (
  null  : (18px, line_height(20, 18), 20px),   // 1.125rem, 1.1111
  medium : (18px, line_height(22, 18), 22px)    // 1.125rem, 1.2222
);

$size-h5 : (
  null  : (16px, line_height(20, 16), 20px),   // 1rem, 1.25
  medium : (16px, line_height(22, 16), 22px)    // 1rem, 1.375
);

$size-h6 : (
  null  : (14px, line_height(20, 14), 20px),   // 0.875rem, 1.4285
  medium : (14px, line_height(22, 14), 22px)    // 0.875rem, 1.5714
);

$size-q : (
  null  : (20px, line_height(25, 20)),         // 1.25rem, 1.25
  medium : (24px, line_height(35, 24))          // 1.5rem, 1.4583
);
// ----------------------
